<?php Block::put('breadcrumb') ?>
	<ul>
		<li><a href="<?= Backend::url('omidmm/multimenu/menus') ?>">Menus</a></li>
		<li><?= e(trans($this->pageTitle)) ?></li>
	</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
	<?= Form::open(['class'=>'layout-item stretch layout-column']) ?>

		<p>Plugin-specific settings appear below. Please configue all relevant fields before rendering your menus.</p>

		<?= $this->formRender() ?>

		<div class="form-buttons layout-item fix">
			<div class="loading-indicator-container">
				<button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
			</div>
		</div>

	<?= Form::close() ?>

<?php else: ?>

	<p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
	<p><a href="<?= Backend::url('omidmm/multimenu/menus') ?>" class="btn btn-default">Return to menu list</a></p>

<?php endif ?>