<?php Block::put('breadcrumb') ?>
	<ul>
		<li><a href="<?= Backend::url('omidmm/multimenu/menus') ?>">Menus</a></li>
		<li><?= e(trans($this->pageTitle)) ?></li>
	</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
	<?= Form::open(['class'=>'layout-item stretch layout-column']) ?>

		<?= $this->formRender() ?>

		<div class="form-buttons layout-item fix">
			<div class="loading-indicator-container">
				<button
					type="submit"
					data-request="onSave"
					data-request-data="redirect:0"
					data-hotkey="ctrl+s, cmd+s"
					data-load-indicator="Saving Menu..."
					class="btn btn-primary">
					<u>S</u>ave
				</button>
				<button
					type="button"
					data-request="onSave"
					data-request-data="close:1"
					data-hotkey="ctrl+s, cmd+s"
					data-load-indicator="Saving Menu..."
					class="btn btn-default">
					Save and Close
				</button>
				<button
					type="button"
					class="oc-icon-trash-o btn-icon danger pull-right"
					data-request="onDelete"
					data-load-indicator="Deleting Menu..."
					data-request-confirm="Do you really want to delete this menu?">
				</button>
				<span class="btn-text">
					or <a href="<?= Backend::url('omidmm/multimenu/menus') ?>">Cancel</a>
				</span>
			</div>
		</div>

	<?= Form::close() ?>

<?php else: ?>

	<p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
	<p><a href="<?= Backend::url('omidmm/multimenu/menus') ?>" class="btn btn-default">Return to menu list</a></p>

<?php endif ?>